<h1 class="h1">gestLib</h1>

<p>
Cette librairie est téléchargeable sur framagit:<br>
<a target="framagit" href="https://git.framasoft.org/legraLibs/gestlib">https://git.framasoft.org/legraLibs/gestlib</a><br>
</p>

<p>
	pour voir le tableau:<code>$gestLib->tableau()</code>
</p>

